<div class="home-page home-version3-page">
    <!-- loader image before page load starts -->
    <div class="se-pre-con"></div>
    <div class="wrapper">
        <!-- ============== Header starts ============== -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 logo-block">
                        <figure>
                            <a href="/home-version1.html"><img class="img-responsive" src="assets/images/logo.jpeg"
                                    alt="Madang Logo" /></a>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-7 menu-block">

                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <!-- <div class="navbar-header">
                                    <button type="button" class="navbar-toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div> -->
                                <div class="collapse navbar-collapse">
                                   <ul class="nav navbar-nav list-group list-group-horizontal">
                                        <li class="active"><a href="#our">nosotros</a></li>
                                        <li><a href="#ourMenu">menu</a></li>
                                        <li><a href="#price">programas</a></li>
                                        <li><a href="#price">precio</a></li>
                                        <li><a href="https://www.facebook.com/vanianutriologa17">facebook</a></li>
                                    </ul> 
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-2 nav-right-btn">
                        <a class="btn border-btn-small" href="#price">elige un plan</a>
                    </div>
                </div>
            </div>
        </header>
        <section class="banner home-banner home-banner3">
            <div class="bannerwrap">
                <div id="owl-demo">
                    <div class="item">
                        <img src="assets/images/home-banner3.jpg" alt="Owl Image" />
                        <div class="container">
                            <div class="banner-text text-center">
                                <h1 class="text-capitalize">Crea buenos Hábitos y ellos<span> te crearan a ti</span>
                                </h1>
                                <a href="https://wa.me/525552747078?text=Deseo información nutricional" class="btn">Más
                                    información</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/home-banner1.jpg" alt="Owl Image" />
                        <div class="container">
                            <div class="banner-text text-left">
                                <h1 class="text-capitalize">El que come bien tiene salud, y el que tiene salud <span>lo
                                        tiene
                                        todo.</span></h1>
                                <p>Comer alimentos que son saludables y no dañinos para la salud, es una de las áreas
                                    más importantes de
                                    la vida.</p>
                                <a href="https://wa.me/525552747078?text=Deseo información nutricional"
                                    class="btn">Agenda tu cita</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/home-banner2.jpg" alt="Owl Image" />
                        <div class="container">
                            <div class="banner-text text-left">
                                <h1 class="text-capitalize">Elaboración de tu plan nutricional de acuerdo a tus
                                    <span>necesidades como
                                        paciente </span>
                                </h1>
                                <p>
                                    Tener una dieta saludable y con alimentos ricos en nutrientes, no solo ayudará a tu
                                    salud física, sino
                                    a tu salud mental. ¿Te
                                    gustaría saber cómo?
                                </p>
                                <a href="https://wa.me/525552747078?text=Deseo información nutricional"
                                    class="btn">Agenda tu cita</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <main>
            <section class="block how-it-works-block" id="our">
                <div class="container">
                    <div class="top-text text-center wow fadeInUp">
                        <h4 class="text-uppercase text-sp text-lt">FORMATOS DE CONSULTA NUTRICIONAL</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 choose wow fadeInLeft">
                            <div class="feature-item-wrap text-center">
                                <figure>
                                    <a href="#"><img class="img-responsive" src="assets/images/meal.svg"
                                            alt="Meal icon" /></a>
                                </figure>
                                <h5><a href="#" class="text-sp text-lt">Consulta Presencial</a></h5>
                                <p>Diagnostico Medico Nutricional, Examen de composición corporal, Plan de Alimentación
                                    100%
                                    personalizado</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 deliver wow fadeInUp">
                            <div class="feature-item-wrap text-center">
                                <figure>
                                    <a href="#"><img class="img-responsive" src="assets/images/eat-enjoy.svg"
                                            alt="Eat and enjoy icon" /></a>
                                </figure>
                                <h5><a href="#" class="text-sp text-lt">Consulta Online </a></h5>
                                <p>Diagnostico Medico Nutricional, Plan de Alimentación 100% personalizado, Asesoría por
                                    WhatsApp</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 eat wow fadeInRight">
                            <div class="feature-item-wrap text-center">
                                <figure>
                                    <a href="#"><img class="img-responsive" src="assets/images/delivery.svg"
                                            alt="Delivery icon" /></a>
                                </figure>
                                <h5><a href="#" class="text-sp text-lt">Consulta Domicilio </a></h5>
                                <p>Diagnostico Medico Nutricional, Plan de Alimentación 100% personalizado, Se
                                    establecen metas de
                                    acuerdo a tus necesidades</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="block select-program-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 wow fadeInLeft left-image-block">
                            <figure><img class="img-responsive" src="assets/images/select-program-image.png"
                                    alt="Select program image" />
                            </figure>
                        </div>
                        <div class="col-xs-12 col-sm-6 wow fadeInRight pull-right right-form-block">
                            <h3 class="text-uppercase text-sp">SELECCIONA UN PROGRAMA QUE SE ADAPTE A TUS NECESIDADES
                            </h3>
                            <form>
                                <fieldset>
                                    <div class="select weight-loss">
                                        <select>
                                            <option>Control de peso por enfermedad</option>
                                            <option>Control de peso por bienestar</option>
                                            <option value="">Control de peso por rendimiento físico</option>
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="select healthy-lifestyle">
                                        <select>
                                            <option>Crear hábitos más saludables</option>
                                            <option>Tener un estilo de vida saludable</option>
                                            <option>Conocer como alimentarme más sano</option>
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="select specialty-menus">
                                        <select>
                                            <option>Diabetes</option>
                                            <option>Hipertensión</option>
                                            <option>Otra enfermedad</option>
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <a href="https://wa.me/525552747078?text=Deseo información nutricional"
                                        class="btn hvr-wobble-horizontal text-sp">Agenda tu cita nutricional</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="featured-menu-carousel" id="ourMenu">
                <div class="container">
                    <div class="wow fadeInUp top-text-header text-center animated"
                        style="visibility: visible; animation-name: fadeInUp">
                        <h4 class="text-uppercase text-sp text-lt">NUESTRO MENÚ</h4>
                    </div>
                    <div class="carousel-container">
                        <div id="carousel">
                            <div class="carousel-feature">
                                <a href="#"><img class="carousel-image" alt="Image Caption"
                                        src="assets/images/food-1.jpg" /></a>
                                <div class="carousel-caption">
                                    <p>Grilled Salmon with Lime Butter Sauce</p>
                                </div>
                            </div>
                            <div class="carousel-feature">
                                <a href="#"><img class="carousel-image" alt="Image Caption"
                                        src="assets/images/food-2.jpg" /></a>
                                <div class="carousel-caption">
                                    <p>Grilled Salmon</p>
                                </div>
                            </div>
                            <div class="carousel-feature">
                                <a href="#"><img class="carousel-image" alt="Image Caption"
                                        src="assets/images/food-3.jpg" /></a>
                                <div class="carousel-caption">
                                    <p>Grilled Salmon with Lime Butter Sauce</p>
                                </div>
                            </div>
                        </div>
                        <div id="carousel-left"><img alt="arrow left" src="assets/images/arrow-left.png" /></div>
                        <div id="carousel-right"><img alt="arrow right" src="assets/images/arrow-right.png" /></div>
                    </div>
                </div>
            </section>
            <section class="block pricing-block" id="price">
                <div class="container">
                    <div class="top-text-header text-center">
                        <h4 class="wow fadeInUp text-center animated text-uppercase text-sp text-lt"
                            style="visibility: visible; animation-name: fadeInUp">
                            PRECIOS DE CONSULTA
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 wow fadeInLeft pricing-box">
                            <div class="text-center price-box-wrap">
                                <h5 class="text-sp">RETO 21 DÍAS</h5>
                                <div class="price-per-day">
                                    <span class="price">$450</span>
                                    <span class="per-day">/21 Días</span>
                                </div>
                                <p>Menú personalizado</p>
                                <p>Orientación en etiquetado nutricional</p>
                                <p>Rutina de ejercicio</p>
                                <p>Asesoría nutricional</p>
                                <p>Reconocimiento a las personas que lleguen a su objetivo</p>
                                <p>Asesoría personalizada por whatsApp</p>
                                <p>Estudio de composición corporal</p>
                                <p>Lista de marca de productos recomendados</p>
                                <a href="https://wa.me/525552747078?text=Deseo información nutricional con la oferta de $450 por mes"
                                    class="btn box-btn order-now-btn test-uppercase text-sp">Agenda tu cita</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 pricing-box wow fadeInUp popular">
                            <div class="text-center price-box-wrap">
                                <h5 class="text-sp">CONSULTA PERSONALIZADA</h5>
                                <div class="price-per-day">
                                    <span class="price">$400</span>
                                    <span class="per-day">/Mes</span>
                                </div>
                                <p>Historial clínico</p>
                                <p>Índice de masa corporal</p>
                                <p>% Grasa corporal</p>
                                <p>% Masa muscular</p>
                                <p>Grasa viceral</p>
                                <p>Edad metabolica</p>
                                <p>Calorías requeridas</p>
                                <p>Antropometría</p>
                                <p>Toma de glucosay presion arterial</p>
                                <p>Menú personalizado</p>
                                <a href="https://wa.me/525552747078?text=Deseo información nutricional con la oferta de $400 por mes"
                                    class="btn box-btn order-now-btn test-uppercase text-sp">Agenda tu cita</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 wow fadeInRight pricing-box">
                            <div class="text-center price-box-wrap">
                                <h5 class="text-sp">CONSULTA NUTRICIONAL Y PSICOLOGICA</h5>
                                <div class="price-per-day">
                                    <span class="price">$600</span>
                                    <span class="per-day">/Mes</span>
                                </div>
                                <p>Historial clínico</p>
                                <p>*Abordaje de Problemas de:</p>
                                <p>Ansiedad</p>
                                <p>Relaciones de pareja</p>
                                <p>Coodependencia</p>
                                <p>Perdidas</p>
                                <p>Obesidad</p>
                                <p>*Amor propio y trabajo de:</p>
                                <p>8 Esferas de mejoramiento personal</p>
                                <a href="https://wa.me/525552747078?text=Deseo información nutricional con la oferta de $600 por mes"
                                    class="btn box-btn order-now-btn test-uppercase text-sp">Agenda tu cita</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="full-width-video">
                <div class="video-wrap">
                    <img class="video-bg" alt="Madang demo video playback" src="assets/images/video-bg.jpg" />
                    <video id="bg-video" preload="auto" muted>
                        <source src="assets/video/video.mp4" type="video/mp4" />
                        <source src="assets/video.ogv" type="video/ogg" />
                        <source src="assets/video.webm" type="video/webm" />
                        Your browser doesn't support HTML5 video. Here's a <a href="#">link</a> to download the video.
                    </video>

                    <div class="video-text text-center video-controls">
                        <a href="#" class="play-btn" id="play-btn"><img src="assets/images/play-btn.svg"
                                alt="Play button" /></a>
                        <h2 class="text-sp">VER CÓMO PREPARAR NUESTRA COMIDA</h2>
                    </div>
                </div>
            </section>
            <section class="block team-member-block">
                <div class="container">
                    <div class="top-text-header wow fadeInUp text-center">
                        <h4 class="text-uppercase text-sp text-lt">Equipo multidisciplinario</h4>
                        <p>Trabajamos para alcanzar un objetivo en común y ese objetivo es tu salud, con ayuda de
                            nuestros
                            especialistas.</p>
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft team-member-col">
                            <div class="text-center member-wrap">
                                <div class="member-info">
                                    <figure>
                                        <a href="#"><img src="assets/images/member1.jpg" alt="Member images"
                                                style="width: 140px" /></a>
                                    </figure>
                                    <h6 class="text-uppercase text-sp"><a href="#">Vania Díaz Balderas</a></h6>
                                    <span class="designation text-capitalize">Licenciada en Nutrición</span>
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/vanianutriologa17"><i
                                                    class="fa fa-facebook hvr-wobble-top"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/vania_diazbalderas/"><i
                                                    class="fa fa-instagram hvr-wobble-top"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInRight team-member-col">
                            <div class="text-center member-wrap">
                                <div class="member-info">
                                    <figure>
                                        <a href="#"><img src="assets/images/member3.jpeg" alt="Member images"
                                                style="width: 140px" /></a>
                                    </figure>
                                    <h6 class="text-uppercase text-sp"><a href="#">Dalia Balderas</a></h6>
                                    <span class="designation text-capitalize">Maestra en psicología</span>
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/psicdalia.balderas"><i
                                                    class="fa fa-facebook hvr-wobble-top"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/daliagbalderas/"><i
                                                    class="fa fa-instagram hvr-wobble-top"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-block">
                <div class="container">
                    <div class="top-text-header text-center wow fadeInUp">
                        <h4 class="text-uppercase text-sp">¿sabías qué?</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 wow fadeInLeft blog-single">
                            <div class="blog-single-wrap">
                                <figure>
                                    <a href="#"><img src="assets/images/blog-image1.jpg" alt="Blog image" /></a>
                                </figure>
                                <div class="blog-description">
                                    <h6 class="text-uppercase"><a href="#" class="text-sp">¿En qué consiste una
                                            alimentación
                                            saludable?</a></h6>
                                    <span class="posted-date">Posted May 12, 2022</span>
                                    <p>Debe contener todos los nutrientes, al menos, un alimento de cada uno de los tres
                                        grupos en cada
                                        comida.</p>
                                    <span class="comments-count">10 Comments</span>
                                    <a href="#" class="text-capitalize pull-right read-more-btn">Leer más</a>
                                </div>
                            </div>
                        </div>
                        <!-- blog single ends -->

                        <!-- blog single starts -->
                        <div class="col-xs-12 col-sm-4 wow fadeInUp blog-single">
                            <div class="blog-single-wrap">
                                <figure>
                                    <a href="#"><img src="assets/images/blog-image2.jpg" alt="Blog image" /></a>
                                </figure>
                                <div class="blog-description">
                                    <h6 class="text-uppercase"><a href="#" class="text-sp">La nutrición y el sistema
                                            inmune de tu
                                            pequeño</a></h6>
                                    <span class="posted-date">Posted May 12, 2022</span>
                                    <p>
                                        Es el sistema de defensa del cuerpo contra las infecciones. El sistema inmune
                                        está formado por
                                        órganos, tejidos y células ...
                                    </p>
                                    <span class="comments-count">8 Comments</span>
                                    <a href="#" class="text-capitalize pull-right read-more-btn">Leer más</a>
                                </div>
                            </div>
                        </div>
                        <!-- blog single ends -->

                        <!-- blog single starts -->
                        <div class="col-xs-12 col-sm-4 wow fadeInRight blog-single">
                            <div class="blog-single-wrap">
                                <figure>
                                    <a href="#"><img src="assets/images/blog-image3.jpg" alt="Blog image" /></a>
                                </figure>
                                <div class="blog-description">
                                    <h6 class="text-uppercase"><a href="#" class="text-sp">¿Cómo establecer unos hábitos
                                            saludables de
                                            alimentación?</a></h6>
                                    <span class="posted-date">Posted May 12, 2022</span>
                                    <p>Revisa tus hábitos de alimentación actuales, por ejemplo, comer muy rápido,comer
                                        cuando no tienes
                                        hambre ..</p>
                                    <span class="comments-count">21 Comments</span>
                                    <a href="#" class="text-capitalize pull-right read-more-btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- blog single ends -->
                    </div>
                    <!-- == blog row ends == -->
                </div>
            </section>
            <section class="testimonials-block">
                <div class="container">
                    <div class="text-center wow fadeInRight testimonials">
                        <ul class="bxslider">
                            <li>
                                <h3 class="text-sp">Obesidad en México</h3>
                                <p>
                                    Ocupando el primer lugar en obesidad infantil y el segundo lugar en obesidad en
                                    adultos a nivel
                                    mundial, el darnos cuenta de que
                                    contar con los recursos para alimentarse es tan sólo la mitad del camino, mientras
                                    que aprender a
                                    alimentarnos correctamente es la
                                    otra parte de esta ardua tarea.
                                </p>
                                <div class="testimonial-author">
                                    <figure><img src="assets/images/profile-picture.jpg" alt="Profile picture" />
                                    </figure>
                                    <span class="writer text-sp">Vania Díaz</span>
                                </div>
                            </li>
                            <li>
                                <h3 class="text-sp">Importancia de la nutrición</h3>
                                <p>
                                    La nutrición tiene como principal función transformar y extraer los nutrientes
                                    necesarios de los
                                    alimentos que consumimos. A
                                    través de este proceso, el cuerpo genera la energía necesaria para mantener el
                                    organismo y desarrollar
                                    sus funciones. Asimismo,
                                    produce los elementos necesarios para los procesos de obtención, asimilación y
                                    metabolismo de los
                                    nutrientes por el organismo.
                                </p>
                                <div class="testimonial-author">
                                    <figure><img src="assets/images/profile-picture.jpg" alt="Profile picture" />
                                    </figure>
                                    <span class="writer text-sp">Vania Díaz</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- ============== testimonials block ends ============== -->

            <!-- ============== instagram block starts ============== -->
            <section class="block instagram-block">
                <div class="container">
                    <div class="top-text-header text-center">
                        <h4 class="text-uppercase text-sp text-lt">SIGUENOS EN NUESTRO INSTAGRAM</h4>
                        <span class="follow-at text-spx">@vania_diazbalderas</span>
                    </div>
                </div>
                <div class="instagram-image-row">
                    <ul>
                        <li class="wow fadeInUp">
                            <figure>
                                <a href="#"><img src="assets/images/instagram-img1.jpg" alt="Instagram image" /></a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <a href="#"><img src="assets/images/instagram-img2.jpg" alt="Instagram image" /></a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <a href="#"><img src="assets/images/instagram-img3.jpg" alt="Instagram image" /></a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <a href="#"><img src="assets/images/instagram-img4.jpg" alt="Instagram image" /></a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <a href="#"><img src="assets/images/instagram-img5.jpg" alt="Instagram image" /></a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <a href="#"><img src="assets/images/instagram-img6.jpg" alt="Instagram image" /></a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <a href="#"><img src="assets/images/instagram-img7.jpg" alt="Instagram image" /></a>
                            </figure>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="block subscribe-block text-center">
                <div class="container">
                    <div class="subscribe-wrap">
                        <div class="top-text wow fadeInUp text-spx">En NutriHabits nos dedicamos al bienestar de tu
                            salud</div>
                        <div class="subscribe-form wow fadeInDown">
                            <form>
                                <input type="text" placeholder="Ingresa tu correo electrónico" />
                                <button class="btn text-uppercase wow flipInX">Más información</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 footer-logo">
                        <figure>
                            <a href="#"><img class="img-responsive" src="assets/images/logo.jpeg"
                                    alt="Footer logo" /></a>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-2 footer-social-links pull-right hidden-md hidden-lg hidden-xs">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/vanianutriologa17"><i
                                        class="fa fa-facebook hvr-wobble-top"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/vania_diazbalderas/"><i
                                        class="fa fa-instagram hvr-wobble-top"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 footer-menu">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 footer-links-col">
                                <span>Nosotros</span>
                                <ul>
                                    <li><a href="#">Sobre nosotros</a></li>
                                    <li><a href="#">Contáctanos</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-3 footer-links-col">
                                <span>Equipo</span>
                                <ul>
                                    <!-- <li><a href="#">Equipo</a></li> -->
                                    <li><a href="#">Redes sociales</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-3 footer-links-col">
                                <span>Términos</span>
                                <ul>
                                    <li><a href="#">Condiciones</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 footer-social-links pull-right hidden-sm">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/vanianutriologa17"><i
                                        class="fa fa-facebook hvr-wobble-top"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/vania_diazbalderas/"><i
                                        class="fa fa-instagram hvr-wobble-top"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="copyright-text text-center text-spx">&copy; 2022 NUTRIHABITS</div>
            </div>
        </div>
    </div>
</div>